<div class="container-lg p-4">
  <h1 class="text-center">List Product</h1>
  <%= render Primer::Beta::Button.new(tag: :a, href: new_product_path, scheme: :primary, classes: "float-right mb-3") do %>New Product<% end %>

  <table class="d-table width-full border color-border-muted">
    <tr>
      <th class="p-2 border">Code</th>
      <th class="p-2 border">Name</th>
      <th class="p-2 border">Stock</th>
      <th class="p-2 border">Price</th>
      <th class="p-2 border" style="width: 100px;">Action</th>
    </tr>
    <% @products.each do |prod| %>
      <tr>
        <td class="p-2 border"><%= prod.code %></td>
        <td class="p-2 border"><%= prod.name %></td>
        <td class="p-2 border"><%= prod.stock %></td>

        <td class="p-2 border"><%= prod.price %></td>
        <td class="p-2 border text-center d-flex gap-1 justify-center">
          <%= render(Primer::Beta::Button.new(tag: :a, href: edit_product_path(prod), scheme: :default, block: false)) do %>
            Edit
          <% end %>
          <%= form_with(url: product_path(prod), method: :delete, data: { confirm: "Are you sure?" }, local: true) do %>
            <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, block: false)) { "Delete" } %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </table>
</div>